[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "emacs.d"]
	path = conf/emacs.d
	url = https://github.com/syl20bnr/spacemacs.git
[submodule "conf/zsh/highlighting"]
	path = conf/zsh/highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
