[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "conf/zsh/highlighting"]
	path = conf/zsh/highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "conf/zsh/liquidprompt"]
	path = conf/zsh/liquidprompt
	url = https://github.com/nojhan/liquidprompt.git
[submodule "scripts"]
	path = bin
	url = https://github.com/benediktg/scripts.git
